a.disabled {
    color: hsl(0, 0%, 86%);
    box-shadow: none;
    opacity: 0.5;

    cursor: not-allowed;
}

:host {
    margin: 1rem;
}

.card {
    width: 300px;
}

.control {
    display: flex;
}
.select {
    width: 100%;
    select {
        width: 100%;
    }
}