<h1 mat-dialog-title>Confirm delete</h1>
<div mat-dialog-content>
  <h6 class="title is-6">Please confirm delete of training registration</h6>
  <div class="card" *ngIf="data.trainingRegistration">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-6">
            {{ data.trainingRegistration.training.title }}
          </p>
          <div class="is-flex">
            <div class="w-100 has-text-centered">
              <p class="subtitle is-6 m-0">
                <strong>{{ data.trainingRegistration.user.firstname }} {{ data.trainingRegistration.user.lastname }}</strong>
              </p>
            </div>
          </div>
          <div class="is-flex">
            <div class="w-50">
              <p class="subtitle is-6 m-0">Username:</p>
            </div>
            <div class="w-50 has-text-centered">
              <p class="subtitle is-6 m-0 ml-1">
                <strong>{{ data.trainingRegistration.user.username }}</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button class="button is-link m-auto" [mat-dialog-close] = "false">Cancel</button>

  <button
    class="button is-primary m-auto"
    [class.is-loading]="requestLoading"
    (click)="onConfirmClick()"
  >
    Confirm
  </button>
</div>
<p class="help is-danger m-2" *ngIf="requestError">
    {{ requestError }}
  </p>
