<div class="container is-fluid is-flex is-flex-direction-column">
	<section class="section filter-section">
		<app-training-list-filter (filterOut)="onFilterChange($event)" [userRoleId]="userRoleId" class="filter-container"></app-training-list-filter>
		<div class="hr-control" *ngIf="userRoleId === 3">
			<div class="field is-flex">
				<button class="button is-outlined m-auto">
					Add new training
				</button>
			</div>
		</div>
	</section>
	<mat-paginator
		[length]="trainingListLength"
		[pageSize]="pageSize"
		(page)="onPaginatorChange($event)"
		[pageSizeOptions]="[5, 10, 25]"
		aria-label="Select page">
	</mat-paginator>
	<div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-around">
		<app-training-card *ngFor="let item of trainingList" [training]="item" [userRoleId]="userRoleId"></app-training-card>
	</div>
</div>
