<div class="card" *ngIf="invite">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-6">Invite {{ invite.id }}</p>
          
          <div class="is-flex">
            <div class="w-25">
              <p class="subtitle is-6 m-0">Email:</p>
            </div>
            <div class="w-75 has-text-centered">
              <p class="subtitle is-6 m-0">
                <strong>{{ invite.email }}</strong>
              </p>
            </div>
          </div>
          <div class="is-flex">
            <div class="w-50">
              <p class="subtitle is-6 m-0">User created:</p>
            </div>
            <div class="w-50 has-text-centered">
              <p class="subtitle is-6 m-0">
                <strong>{{ invite.user_created ? 'True' : 'False' }}</strong>
              </p>
            </div>
          </div>
          <div class="is-flex">
            <div class="w-35">
              <p class="subtitle is-6 m-0">Role:</p>
            </div>
            <div class="w-65 has-text-centered">
              <p class="subtitle is-6 m-0">
                <strong>{{ invite.role.name }}</strong>
              </p>
            </div>
          </div>
  
          <div class="is-flex" *ngIf="invite.team">
            <div class="w-25">
              <p class="subtitle is-6 m-0">Team:</p>
            </div>
            <div class="w-75 has-text-centered">
              <p class="subtitle is-6 m-0">
                <strong>{{ invite.team.name }}</strong>
              </p>
            </div>
          </div>
          <div class="is-flex is-flex-direction-column mt-1" *ngIf="invite.token">
            <div class="w-100 has-text-centered">
              <p class="title is-6 m-0">Token</p>
            </div>
            <div class="w-100 has-text-centered">
                <div class="field">
                    <div class="control">
                      <textarea class="textarea is-small has-fixed-size" readonly>{{invite.token}}</textarea>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
        <a class="card-footer-item" (click)="onDeleteClick()"  [class.is-loading]="requestLoading">Delete</a>
    </footer>
  </div>
  