<div class="card" *ngIf="training">
    <span title="Badge top center" class="badge is-top" [class.is-primary]="training.status.id === 1"
    [class.is-danger]="training.status.id === 2"
    [class.is-success]="training.status.id === 3">{{training.status.name}}</span>

        <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-6">{{training.training.title}}</p>
            <div class="is-flex">
              <div class="w-50">
                <p class="subtitle is-6 m-0">Starts on:</p>
                <p class="subtitle is-6 m-0">Ends on:</p>
                <p class="subtitle is-6 m-0">Requires:</p>
              </div>
              <div class="w-50 has-text-centered">
                <p class="subtitle is-6 m-0"><strong>{{training.training.startDate | moment}}</strong></p>
                <p class="subtitle is-6 m-0"><strong>{{training.training.endDate | moment}}</strong></p>
                <p class="subtitle is-6 m-0"><strong>{{training.training.duration}} hours</strong></p>
              </div>
            </div>
           
          </div>
        </div>
        <div class="content">
          <p class="subtitle is-6">{{training.training.description}}</p>
          <div class="is-flex">
            <div class="w-50">
              <p class="subtitle is-6 m-0">Registered on:</p>
            </div>
            <div class="w-50 has-text-centered">
              <p class="subtitle is-6 m-0"><strong>{{training.registration_date | moment}}</strong></p>
            </div>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <ng-container [ngSwitch]="currentUser?.role?.id">
          <ng-container *ngSwitchCase="1">
            <a class="card-footer-item" (click)="onViewFeedback()">View feedback</a>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <a class="card-footer-item" (click)="onViewFeedback()">View feedback</a>
            <a class="card-footer-item" (click)="onViewAttendances()">View attendances</a>
          </ng-container>
          <ng-container *ngSwitchCase="3">
            <a class="card-footer-item" (click)="onViewFeedback()">View feedback</a>
          </ng-container>
  
        </ng-container>
      </footer>
  </div>