<div class="navbar-item has-dropdown h-100" [class.is-active]="dropdownOpened">
  <a
    class="navbar-link is-arrowless mobile-hidden"
    (click)="dropdownOpened = !dropdownOpened"
    ><i class="fa-solid fa-user"></i
  ></a>

  <div class="navbar-dropdown is-right">
    <ng-container *ngIf="currentUser">
        <div class="navbar-item">Logged in as</div>
        <div class="navbar-item username-container">{{currentUser.username}}</div>
        <div class="navbar-item">Role: <strong class="ml-1">{{currentUser.role.name}}</strong></div>
        <div class="navbar-item" *ngIf="currentUser.team">Team: <strong class="ml-1">{{currentUser.team.name}}</strong></div>
        <hr class="navbar-divider" />
        <a class="navbar-item" routerLink="/profile" routerLinkActive="is-active">Your profile</a>
        <hr class="navbar-divider" />
        <a class="navbar-item" (click)="onLogoutClick()">Logout</a>
    </ng-container>
    <ng-container *ngIf="!currentUser">
        <div class="navbar-item">Not logged in</div>
        <hr class="navbar-divider" />
        <a class="navbar-item" (click)="onLogoutClick()">Login</a>
    </ng-container>
  </div>
</div>
