@import 'ngx-toastr/toastr';
@import '@creativebulma/bulma-badge/dist/bulma-badge.min.css';

html,
body {
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
p {
    overflow-wrap: break-word;
}
@media screen and (max-width: 650px) { 
    .is-fluid {
        padding: 0 !important;
    }
}

.w-50 {
    width: 50%;
}