@import 'ngx-toastr/toastr';
@import '@creativebulma/bulma-badge/dist/bulma-badge.min.css';
@import 'bulma-switch/dist/css/bulma-switch.min.css';
@import '@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css';
html,
body {
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
p {
    overflow-wrap: break-word;
}
@media screen and (max-width: 650px) { 
    .is-fluid {
        padding: 0 !important;
    }
}

.h-100 {
    height: 100%;
}

.w-50 {
    width: 50%;
}